<div class="col-md-4 bg-white ">
	<div class=" row border-bottom padding-sm" style="height: 40px;">
		Usuário logado: {{user?.nickname}}
	</div>

	<!-- =============================================================== -->
	<!-- member list -->
	<ul class="friend-list">
		<li class="bounceInDown" *ngFor="let chat of chats" (click)="selectChat(chat, $event)">
			<a href="#" class="clearfix">
				<!--<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">-->
				<div class="friend-name">
					<strong>{{chat.chatTitle}}</strong>
				</div>
				<div class="last-message text-muted">{{chat.lastMessage?.text}}</div>
				<small class="time text-muted">{{chat.lastMessage?.date | date: 'dd/MM/yyyy HH:mm:ss'}}</small>
				<!--<small class="chat-alert label label-danger">1</small>-->
			</a>
		</li>
	</ul>
</div>